

table{
    background: linear-gradient(to right, #efefbb, #d4d3dd);
    text-align: center;
    width: 100%;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
}